{% extends 'base.html'%}

{% block title %}
  About Us
{% endblock title%}

{% block body %}
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi possimus saepe recusandae delectus facere commodi earum nisi cum, exercitationem iusto. Eaque esse omnis quia veritatis labore facere delectus deserunt quis?</p>
{% endblock body %}


<!-- <!DOCTYPE html>
<header><h1>About Page</h1>
<title>Univelcity</title>
</header>
<body>
    <h2>Our Courses</h2>
    <ul><li>Backend with Django</li>
        <li>Frontend</li>
        <li>Datascience</li>
        <li>Product design</li>
    </ul>
</body> -->