{% extends 'base.html' %}

{% block title %}
Our Services
{% endblock title%}

{% block body %}
<div class="social">
    <a href="https://web.facebook.com/?_rdc=1&_rdr">Facebook</a>
    <a href="https://www.instagram.com/queenybas/">Instagram</a>
    <a href="https://www.linkedin.com/in/sarah-akan-738310222/">
        LinkedIn</a>
</div>

{% endblock body%}

<!-- <h1>Services Page</h1><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce Contact Us</title>
    <link rel="stylesheet" href="ecommerce.css">
</head>
<body>
    <nav>
        <div class="navlink">
        <a href="home.html">Home</a>
        <a href="about_us.html">About Us</a>
        <a href="contact_us.html">Contact Us</a>
        </div>

        <div class="social">
            <a href="https://web.facebook.com/?_rdc=1&_rdr">Facebook</a>
            <a href="https://www.instagram.com/queenybas/">Instagram</a>
            <a href="https://www.linkedin.com/in/sarah-akan-738310222/"></a>LinkedIn</div>
</body>
</html> -->